

<%- include('partials/_header') %>

<div class="container">
    <div class="row"> <!--bootstrap tiene 12 columnas en total, por asignamos 5 al form y 7 al listado-->
        <div class="col-md-5">
            <div class="card">
                <div class="card-body">
                    <form action="/coches/add" method="POST">
                        <div class="form-group" style="margin-bottom: 1em;">
                            <input type="text" name="modelo" placeholder="Introduzca el modelo" class="form-control">
                        </div>
                        <div class="form-group" style="margin-bottom: 1em;">
                            <input type="text" name="matricula" placeholder="Introduzca la matricula" class="form-control">
                        </div>
                        <div class="form-group" style="margin-bottom: 1em;">
                            <input type="text" name="precio" placeholder="Introduzca el precio" class="form-control">
                        </div>


                        <button type="submit" class="btn btn-primary"> Añadir </button>

                    </form>
                </div>
            </div>
            <p><i>Si está en verde el botón "Reservar" es que está disponible, si no lo está, en negro</i></p>
        </div>

        <div class="col-md-7">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Modelo</th>
                        <th>Matricula</th>
                        <th>Precio</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(var i = 0; i < products.length; i++){ %>
                        <% //if(products[i].disponible === true){ %>
                        <tr>
                            <td><%= products[i].modelo %></td>
                            <td><%= products[i].matricula %></td>
                            <td><%= products[i].precio %></td>
                            <td>
                                <a href="/coches/<%= products[i]._id %>" class="btn btn-warning">Ver</a>
                                <a href="/coches/turn/<%= products[i]._id %>" 
                                    class="btn <%= products[i].disponible ? 'btn-success' : 'btn-dark' %>">Reservar</a>
                                <a href="/coches/delete/<%= products[i]._id %>" class="btn btn-danger">Borrar</a>
                                <a href="/coches/edit/<%= products[i]._id %>" class="btn btn-info">Editar</a>
                            </td>
                        </tr>
                        <% //} %>
                    <% } %>
                </tbody>
            </table>

            
        </div>

    </div>


</div>


<%- include('partials/_footer') %>

